.hero {
    text-align: center;
    padding: 100px 20px;
    background-color: #f4f9f4;
}

    .hero h1 {
        font-size: 48px;
        margin: 0;
    }

    .hero h2 {
        font-size: 36px;
        margin: 10px 0;
    }

    .hero p {
        font-size: 18px;
        margin-bottom: 30px;
    }

.hero-button {
    padding: 15px 30px;
    background-color: #36473e;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
}
